# Entornos virtuales
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs y Editores
.vscode/
.idea/
*.swp

# Archivos del SO
.DS_Store
Thumbs.db

# Jupyter Notebook 
.ipynb_checkpoints/
